node_modules
**/node_modules
dist
**/dist
coverage
.git
.gitignore
.env
.env.local
.env.*.local
*.md
!README.md
.vscode
.idea
.cursor
.husky
*.log
.DS_Store
test
**/test
**/*.spec.ts
**/*.test.ts
.eslintrc*
.prettierrc*
docker-compose*.yml
Dockerfile*