# RabbitMQ credentials
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_URL=amqp://guest:guest@localhost:5672

# Environment
NODE_ENV=development

# Telegram 
TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_CHAT_ID=your_chat_id_here

# Service ports
PRODUCER_PORT=3000
CONSUMER_PORT=3001
NOTIFIER_PORT=3002

# Notifier URL для Consumer
NOTIFIER_URL=http://localhost:3002

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0