# RabbitMQ credentials
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_URL=amqp://guest:guest@localhost:5672

# Environment
NODE_ENV=development

# Telegram (понадобится для Notifier)
# TELEGRAM_BOT_TOKEN=
# TELEGRAM_CHAT_ID=

# Service ports
PRODUCER_PORT=3000
CONSUMER_PORT=3001
NOTIFIER_PORT=3002

# Notifier URL для Consumer
NOTIFIER_URL=http://localhost:3002